.main{
    
width: 204px;
height: 27px;

/* text-lg/font-semibold */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


/* cool-gray/900 */

color: #111928;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.search{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 13px 20px;

width: 562.58px;
height: 50px;

/* cool-gray/50 */

background: #F9FAFB;
/* cool-gray/200 */

border: 1px solid #E5E7EB;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.add{
    width: 63px;
height: 21px;

/* text-sm/font-semibold */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */


/* white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}