.Forgotpassword
{
    position: absolute;
    width: 401px;
    height: 46px;
    left: 495px;
    top: 196px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height */
    
    
    color: #212121;
}

.Paragraph
{
    position: absolute;
    width: 451px;
    height: 58px;
    left: 495px;
    top: 247px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    
    
    color: #212121;
    
}

.button
{
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 496px;
    
    background: #1996FC;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
}
.Email
{
position: absolute;
width: 32px;
height: 15px;
left: 496px;
top: 365px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #212121;

opacity: 0.4;
}
.cancel {

position: absolute;
width: 47px;
height: 17px;
left: 698px;
top: 572px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #212121;
}
.input{
    position: absolute;
width: 450px;
height: 2px;
left: 496px;
top: 434px;

background: #212121;
opacity: 0.3;
}