.new
{
    position: absolute;
width: 338px;
height: 46px;
left: 495px;
top: 196px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 46px;
/* identical to box height */


color: #212121;

}
.paragraph
{
    position: absolute;
width: 451px;
height: 58px;
left: 495px;
top: 247px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* or 161% */


color: #212121;

}
.password
{
    position: absolute;
width: 57px;
height: 15px;
left: 495px;
top: 365px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #212121;

opacity: 0.4;
}
.password1
{
    position: absolute;
    width: 300px;
    height: 17px;
    left: 495px;
    top: 445px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #212121;
    
    opacity: 0.4;
}
.password2 {
    position: absolute;
    width: 57px;
    height: 15px;
    left: 495px;
    top: 504px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #212121;
    
    opacity: 0.4;
}
.password3
{
    position: absolute;
width: 185px;
height: 17px;
left: 495px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #212121;

opacity: 0.4;
}

.reset
{
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 660px;
    
    background: #1996FC;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;

}
.cancel
{
position: absolute;
width: 47px;
height: 17px;
left: 698px;
top: 736px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #212121;

}
.input1{
position: absolute;
width: 450px;
height: 2px;
left: 496px;
top: 435px;

background: #212121;
opacity: 0.3;
}
.input2
{
    position: absolute;
    width: 450px;
    height: 2px;
    left: 496px;
    top: 574px;
    
    background: #212121;
    opacity: 0.3;

}